/* normalize */
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img {
  margin: 0;
  padding: 0;
}

/* body */

body {
  background-color: #ffc801;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  font-family: verdana sans-serif;
}

body,
.container,
.section-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.section-text {
  flex-direction: column;
}

h1, p {
  color: black;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

p {
  font-size: 1.2rem;
}

.container {
  max-width: 800px;
  background: #fff;
}

.section-text {
  width: 100%;
  background-color: #fff;
}

.email-input,
.btn {
  color: white;
  background-color: #ff1b72;
  border: none;
  border-radius: 20px;
  height: 30px;
}

.email-input {
  margin: 1rem 0 0 0;
}

.email-input::placeholder,
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-input::placeholder {
  width: 100%
}

.btn {
  margin: 2rem 0;
  width: 100px;
}
