/* normalize */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #ff1b72;
}

ul,
li {
  list-style: none;
}

html {
  max-width: 100%;
  max-height: 100%;
}

/* body */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  background-color: #ffc801;
  width: 100%;
  height: 100vh;
  font-size: 16px;
  font-family: verdana sans-serif;
}

body,
.container,
.section-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container,
.section-text {
  flex-direction: column;
}

.container,
.section-img,
.section-img img,
.section-text {
  border-radius: 20px;
}

h1, p {
  color: black;
  margin: 0;
  padding: 0;
}

.section-text h1 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
}

.title {
  /* color: #ff1b72; */
  background-color: #fff;
  width: 600px;
  text-align: center;
}

p {
  font-size: 1.2rem;
}

.newsletter,
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter {
  height: 20%;
}

.container {
  max-width: 800px;
  height: 50%;
  background: #fff;
  margin: 3rem 0;
}

.section-text {
  width: 100%;
  background-color: #fff;
}

.email-input,
.btn {
  color: white;
  background-color: #ff1b72;
  border: none;
  border-radius: 20px;
  height: 30px;
}

.email-input {
  margin: 1rem 0 0 0;
  width: 300px;
}

.email-input::placeholder {
  width: 100%;
  opacity: 1;
  color: white;
  font-size: 1rem;
  padding: 0 4rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 1rem;
  width: 100px;
}

footer {
  margin-bottom: 0;
  background-color: black;
  min-height: 20%;
}

footer p {
  color: #fff;
}

.footer-container,
.sns,
.sns ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

ul li {
  font-size: 1.2rem;

}

li a {
  color: #ffc801;

}

.fab::before,
.fas::before {
  color: #ff1b72;
}
